body {
  margin: 0;
  padding: 0;
}

#jumbotron {
  overflow-x: hidden;   /* Oculta cualquier desbordamiento horizontal */
  display: flex;
  justify-content: center;
  background-color: #fff885 !important;
}

.container {
  display: flex;
  justify-content: center;
}

.span-design {
  background-color: #e29400;
  color: #482200;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 130px;
  height: 40px;
}

.container-table, .container {
  margin: 0;
}

.container-table-design {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.rejister-title {
  color: #482200;
  font-weight: bold;
  margin-bottom: 15px;
}

.button-newStudent {
  color: #482200;
  background-color: #ffc107;
}

.button-newStudent:hover {
  color: white;
  background-color: #bb6902;
}

.input-design {
  width: 500px !important;
}

